@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,*:before,*:after{
    box-sizing:inherit;
    font-family: "Poppins", sans-serif !important;
}

header{
    background-color: #ffbf69;
}

body, html {
  height: 100%;
  line-height: normal;
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  scroll-behavior: smooth;
}

body {
  margin:0
}

.bgimg-1 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("background.png");
  min-height: 100%;
}

.bg-abt{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(bg-grid.png);
  min-height: 70%;
}

.popit-bar .popit-button {
  padding: 16px;
}

 article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary{
    display:list-item
}
 audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
 audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
 a{
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}
 abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
 b,strong{
    font-weight:bolder
}
dfn{
    font-style:italic
}
mark{
    background:#ff0;
    color:#000
}
 small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
 sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
figure{
    margin:1em 40px
}
img{
    border-style:none
}
 code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
 button,input,select,textarea,optgroup{
    font:inherit;
    margin:0
}
optgroup{
    font-weight:bold
}
 button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
 
 button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
 button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}
 fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
 legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea{
    overflow:auto
}
/* End extract */
 html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
 h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
 .popit-serif{
    font-family:serif
}
.popit-sans-serif{
    font-family:sans-serif
}
.popit-cursive{
    font-family:cursive
}
.popit-monospace{
    font-family:monospace
}
 h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
.popit-wide{
    letter-spacing:4px
}
 hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
 .popit-image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
 .popit-table,.popit-table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}
.popit-table-all{
    border:1px solid #ccc
}
 .popit-bordered tr,.popit-table-all tr{
    border-bottom:1px solid #ddd
}
.popit-striped tbody tr:nth-child(even){
    background-color:#f1f1f1
}
 .popit-table-all tr:nth-child(odd){
    background-color:#fff
}
.popit-table-all tr:nth-child(even){
    background-color:#f1f1f1
}
 .popit-hoverable tbody tr:hover,.popit-ul.popit-hoverable li:hover{
    background-color:#ccc
}
.popit-centered tr th,.popit-centered tr td{
    text-align:center
}
 .popit-table td,.popit-table th,.popit-table-all td,.popit-table-all th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
 .popit-table th:first-child,.popit-table td:first-child,.popit-table-all th:first-child,.popit-table-all td:first-child{
    padding-left:16px
}
 .popit-btn,.popit-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
 .popit-btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
 .popit-btn,.popit-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
 .popit-disabled,.popit-btn:disabled,.popit-button:disabled{
    cursor:not-allowed;
    opacity:0.3
}
.popit-disabled *,:disabled *{
    pointer-events:none
}
 .popit-btn.popit-disabled:hover,.popit-btn:disabled:hover{
    box-shadow:none
}
 .popit-badge,.popit-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.popit-badge{
    border-radius:50%
}
 .popit-ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.popit-ul li{
    padding:8px 16px;
    border-bottom:1px solid #ddd
}
.popit-ul li:last-child{
    border-bottom:none
}
 .popit-tooltip,.popit-display-container{
    position:relative
}
.popit-tooltip .popit-text{
    display:none
}
.popit-tooltip:hover .popit-text{
    display:inline-block
}
 .popit-ripple:active{
    opacity:0.5
}
.popit-ripple{
    transition:opacity 0s
}
 .popit-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
 .popit-select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
 .popit-dropdown-click,.popit-dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}
 .popit-dropdown-hover:hover .popit-dropdown-content{
    display:block
}
 .popit-dropdown-hover:first-child,.popit-dropdown-click:hover{
    background-color:#ccc;
    color:#000
}
 .popit-dropdown-hover:hover > .popit-button:first-child,.popit-dropdown-click:hover > .popit-button:first-child{
    background-color:#ccc;
    color:#000
}
 .popit-dropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
 .popit-check,.popit-radio{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}
 .popit-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
 .popit-bar-block .popit-dropdown-hover,.popit-bar-block .popit-dropdown-click{
    width:100%
}
 .popit-bar-block .popit-dropdown-hover .popit-dropdown-content,.popit-bar-block .popit-dropdown-click .popit-dropdown-content{
    min-width:100%
}
 .popit-bar-block .popit-dropdown-hover .popit-button,.popit-bar-block .popit-dropdown-click .popit-button{
    width:100%;
    text-align:left;
    padding:8px 16px
}
 .popit-main,#main{
    transition:margin-left .4s
}
 .popit-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
 .popit-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
 .popit-bar{
    width:100%;
    overflow:hidden
}
.popit-center .popit-bar{
    display:inline-block;
    width:auto
}
 .popit-bar .popit-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
 .popit-bar .popit-dropdown-hover,.popit-bar .popit-dropdown-click{
    position:static;
    float:left
}
 .popit-bar .popit-button{
    white-space:normal
}
 .popit-bar-block .popit-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
 .popit-bar-block.popit-center .popit-bar-item{
    text-align:center
}
.popit-block{
    display:block;
    width:100%
}
 .popit-responsive{
    display:block;
    overflow-x:auto
}
 .popit-container:after,.popit-container:before,.popit-panel:after,.popit-panel:before,.popit-row:after,.popit-row:before,.popit-row-padding:after,.popit-row-padding:before, .popit-cell-row:before,.popit-cell-row:after,.popit-clear:after,.popit-clear:before,.popit-bar:before,.popit-bar:after{
    content:"";
    display:table;
    clear:both
}
 .popit-col,.popit-half,.popit-third,.popit-twothird,.popit-threequarter,.popit-quarter{
    float:left;
    width:100%
}
 .popit-col.s1{
    width:8.33333%
}
.popit-col.s2{
    width:16.66666%
}
.popit-col.s3{
    width:24.99999%
}
.popit-col.s4{
    width:33.33333%
}
 .popit-col.s5{
    width:41.66666%
}
.popit-col.s6{
    width:49.99999%
}
.popit-col.s7{
    width:58.33333%
}
.popit-col.s8{
    width:66.66666%
}
 .popit-col.s9{
    width:74.99999%
}
.popit-col.s10{
    width:83.33333%
}
.popit-col.s11{
    width:91.66666%
}
.popit-col.s12{
    width:99.99999%
}
 @media (min-width:601px){
    .popit-col.m1{
        width:8.33333%
    }
    .popit-col.m2{
        width:16.66666%
    }
    .popit-col.m3,.popit-quarter{
        width:24.99999%
    }
    .popit-col.m4,.popit-third{
        width:33.33333%
    }
     .popit-col.m5{
        width:41.66666%
    }
    .popit-col.m6,.popit-half{
        width:49.99999%
    }
    .popit-col.m7{
        width:58.33333%
    }
    .popit-col.m8,.popit-twothird{
        width:66.66666%
    }
     .popit-col.m9,.popit-threequarter{
        width:74.99999%
    }
    .popit-col.m10{
        width:83.33333%
    }
    .popit-col.m11{
        width:91.66666%
    }
    .popit-col.m12{
        width:99.99999%
    }
}
 @media (min-width:993px){
    .popit-col.l1{
        width:8.33333%
    }
    .popit-col.l2{
        width:16.66666%
    }
    .popit-col.l3{
        width:24.99999%
    }
    .popit-col.l4{
        width:33.33333%
    }
     .popit-col.l5{
        width:41.66666%
    }
    .popit-col.l6{
        width:49.99999%
    }
    .popit-col.l7{
        width:58.33333%
    }
    .popit-col.l8{
        width:66.66666%
    }
     .popit-col.l9{
        width:74.99999%
    }
    .popit-col.l10{
        width:83.33333%
    }
    .popit-col.l11{
        width:91.66666%
    }
    .popit-col.l12{
        width:99.99999%
    }
}
 .popit-rest{
    overflow:hidden
}
.popit-stretch{
    margin-left:-16px;
    margin-right:-16px
}
 .popit-content,.popit-auto{
    margin-left:auto;
    margin-right:auto
}
.popit-content{
    max-width:980px
}
.popit-auto{
    max-width:1140px
}
 .popit-cell-row{
    display:table;
    width:100%
}
.popit-cell{
    display:table-cell
}
 .popit-cell-top{
    vertical-align:top
}
.popit-cell-middle{
    vertical-align:middle
}
.popit-cell-bottom{
    vertical-align:bottom
}
 .popit-hide{
    display:none!important
}
.popit-show-block,.popit-show{
    display:block!important
}
.popit-show-inline-block{
    display:inline-block!important
}
 @media (max-width:1205px){
    .popit-auto{
        max-width:95%
    }
}
 @media (max-width:600px){
    .popit-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .popit-modal{
        padding-top:30px
    }
     .popit-dropdown-hover.popit-mobile .popit-dropdown-content,.popit-dropdown-click.popit-mobile .popit-dropdown-content{
        position:relative
    }
     .popit-hide-small{
        display:none!important
    }
    .popit-mobile{
        display:block;
        width:100%!important
    }
    .popit-bar-item.popit-mobile,.popit-dropdown-hover.popit-mobile,.popit-dropdown-click.popit-mobile{
        text-align:center
    }
     .popit-dropdown-hover.popit-mobile,.popit-dropdown-hover.popit-mobile .popit-btn,.popit-dropdown-hover.popit-mobile .popit-button,.popit-dropdown-click.popit-mobile,.popit-dropdown-click.popit-mobile .popit-btn,.popit-dropdown-click.popit-mobile .popit-button{
        width:100%
    }
}
 @media (max-width:768px){
    .popit-modal-content{
        width:500px
    }
    .popit-modal{
        padding-top:50px
    }
}
 @media (min-width:993px){
    .popit-modal-content{
        width:900px
    }
    .popit-hide-large{
        display:none!important
    }
    .popit-sidebar.popit-collapse{
        display:block!important
    }
}
 @media (max-width:992px) and (min-width:601px){
    .popit-hide-medium{
        display:none!important
    }
}
 @media (max-width:992px){
    .popit-sidebar.popit-collapse{
        display:none
    }
    .popit-main{
        margin-left:0!important;
        margin-right:0!important
    }
    .popit-auto{
        max-width:100%
    }
}
 .popit-top,.popit-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.popit-top{
    top:0
}
.popit-bottom{
    bottom:0
}
 .popit-overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}
 .popit-display-topleft{
    position:absolute;
    left:0;
    top:0
}
.popit-display-topright{
    position:absolute;
    right:0;
    top:0
}
 .popit-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.popit-display-bottomright{
    position:absolute;
    right:0;
    bottom:0
}
 .popit-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
 .popit-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
 .popit-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
 .popit-display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .popit-display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .popit-display-container:hover .popit-display-hover{
    display:block
}
.popit-display-container:hover span.popit-display-hover{
    display:inline-block
}
.popit-display-hover{
    display:none
}
 .popit-display-position{
    position:absolute
}
 .popit-circle{
    border-radius:50%
}
 .popit-round-small{
    border-radius:2px
}
.popit-round,.popit-round-medium{
    border-radius:4px
}
.popit-round-large{
    border-radius:8px
}
.popit-round-xlarge{
    border-radius:16px
}
.popit-round-xxlarge{
    border-radius:32px
}
 .popit-row-padding,.popit-row-padding>.popit-half,.popit-row-padding>.popit-third,.popit-row-padding>.popit-twothird,.popit-row-padding>.popit-threequarter,.popit-row-padding>.popit-quarter,.popit-row-padding>.popit-col{
    padding:0 8px
}
 .popit-container,.popit-panel{
    padding:0.01em 16px
}
.popit-panel{
    margin-top:16px;
    margin-bottom:16px
}
 .popit-code,.popit-codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}
 .popit-code{
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    border-left:4px solid #4CAF50;
    word-wrap:break-word
}
 .popit-codespan{
    color:crimson;
    background-color:#f1f1f1;
    padding-left:4px;
    padding-right:4px;
    font-size:110%
}
 .popit-card,.popit-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
 .popit-card-4,.popit-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
 .popit-spin{
    animation:popit-spin 2s infinite linear
}
@keyframes popit-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}
 .popit-animate-fading{
    animation:fading 10s infinite
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
 .popit-animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{
    from{
        opacity:0
    }
     to{
        opacity:1
    }
}
 .popit-animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
     to{
        top:0;
        opacity:1
    }
}
 .popit-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
     to{
        left:0;
        opacity:1
    }
}
 .popit-animate-right{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
     to{
        right:0;
        opacity:1
    }
}
 .popit-animate-bottom{
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom{
    from{
        bottom:-300px;
        opacity:0
    }
     to{
        bottom:0;
        opacity:1
    }
}
 .popit-animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom{
    from{
        transform:scale(0)
    }
     to{
        transform:scale(1)
    }
}
 .popit-animate-input{
    transition:width 0.4s ease-in-out
}
.popit-animate-input:focus{
    width:100%!important
}
 .popit-opacity,.popit-hover-opacity:hover{
    opacity:0.60
}
.popit-opacity-off,.popit-hover-opacity-off:hover{
    opacity:1
}
 .popit-opacity-max{
    opacity:0.25
}
.popit-opacity-min{
    opacity:0.75
}
 .popit-greyscale-max,.popit-grayscale-max,.popit-hover-greyscale:hover,.popit-hover-grayscale:hover{
    filter:grayscale(100%)
}
 .popit-greyscale,.popit-grayscale{
    filter:grayscale(75%)
}
.popit-greyscale-min,.popit-grayscale-min{
    filter:grayscale(50%)
}
 .popit-sepia{
    filter:sepia(75%)
}
.popit-sepia-max,.popit-hover-sepia:hover{
    filter:sepia(100%)
}
.popit-sepia-min{
    filter:sepia(50%)
}
 .popit-tiny{
    font-size:10px!important
}
.popit-small{
    font-size:12px!important
}
.popit-medium{
    font-size:15px!important
}
.popit-large{
    font-size:18px!important
}
 .popit-xlarge{
    font-size:24px!important
}
.popit-xxlarge{
    font-size:36px!important
}
.popit-xxxlarge{
    font-size:48px!important
}
.popit-jumbo{
    font-size:64px!important
}
 .popit-left-align{
    text-align:left!important
}
.popit-right-align{
    text-align:right!important
}
.popit-justify{
    text-align:justify!important
}
.popit-center{
    text-align:center!important
}
 .popit-border-0{
    border:0!important
}
.popit-border{
    border:1px solid #ccc!important
}
 .popit-border-top{
    border-top:1px solid #ccc!important
}
.popit-border-bottom{
    border-bottom:1px solid #ccc!important
}
 .popit-border-left{
    border-left:1px solid #ccc!important
}
.popit-border-right{
    border-right:1px solid #ccc!important
}
 .popit-topbar{
    border-top:6px solid #ccc!important
}
.popit-bottombar{
    border-bottom:6px solid #ccc!important
}
 .popit-leftbar{
    border-left:6px solid #ccc!important
}
.popit-rightbar{
    border-right:6px solid #ccc!important
}
 .popit-section,.popit-code{
    margin-top:16px!important;
    margin-bottom:16px!important
}
 .popit-margin{
    margin:16px!important
}
.popit-margin-top{
    margin-top:16px!important
}
.popit-margin-bottom{
    margin-bottom:16px!important
}
 .popit-margin-left{
    margin-left:16px!important
}
.popit-margin-right{
    margin-right:16px!important
}
 .popit-padding-small{
    padding:4px 8px!important
}
.popit-padding{
    padding:8px 16px!important
}
.popit-padding-large{
    padding:12px 24px!important
}
 .popit-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.popit-padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}
 .popit-padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}
.popit-padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}
 .popit-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}
 .popit-padding-top-64{
    padding-top:64px!important
}
.popit-padding-top-48{
    padding-top:48px!important
}
 .popit-padding-top-32{
    padding-top:32px!important
}
.popit-padding-top-24{
    padding-top:24px!important
}
 .popit-left{
    float:left!important
}
.popit-right{
    float:right!important
}
 .popit-button:hover{
    color:#000!important;
    background-color:#ccc!important
}
 .popit-transparent,.popit-hover-none:hover{
    background-color:transparent!important
}
 .popit-hover-none:hover{
    box-shadow:none!important
}
/* Colors */
 .popit-amber,.popit-hover-amber:hover{
    color:#000!important;
    background-color:#ffc107!important
}
 .popit-aqua,.popit-hover-aqua:hover{
    color:#000!important;
    background-color:#00ffff!important
}
 .popit-blue,.popit-hover-blue:hover{
    color:#fff!important;
    background-color:#2196F3!important
}
 .popit-light-blue,.popit-hover-light-blue:hover{
    color:#000!important;
    background-color:#87CEEB!important
}
 .popit-brown,.popit-hover-brown:hover{
    color:#fff!important;
    background-color:#795548!important
}
 .popit-cyan,.popit-hover-cyan:hover{
    color:#000!important;
    background-color:#00bcd4!important
}
 .popit-blue-grey,.popit-hover-blue-grey:hover,.popit-blue-gray,.popit-hover-blue-gray:hover{
    color:#fff!important;
    background-color:#607d8b!important
}
 .popit-green,.popit-hover-green:hover{
    color:#fff!important;
    background-color:#4CAF50!important
}
 .popit-light-green,.popit-hover-light-green:hover{
    color:#000!important;
    background-color:#8bc34a!important
}
 .popit-indigo,.popit-hover-indigo:hover{
    color:#fff!important;
    background-color:#3f51b5!important
}
 .popit-khaki,.popit-hover-khaki:hover{
    color:#000!important;
    background-color:#f0e68c!important
}
 .popit-lime,.popit-hover-lime:hover{
    color:#000!important;
    background-color:#cddc39!important
}
 .popit-orange,.popit-hover-orange:hover{
    color:#000!important;
    background-color:#ff9800!important
}
 .popit-deep-orange,.popit-hover-deep-orange:hover{
    color:#fff!important;
    background-color:#ff5722!important
}
 .popit-pink,.popit-hover-pink:hover{
    color:#fff!important;
    background-color:#e91e63!important
}
 .popit-purple,.popit-hover-purple:hover{
    color:#fff!important;
    background-color:#9c27b0!important
}
 .popit-deep-purple,.popit-hover-deep-purple:hover{
    color:#fff!important;
    background-color:#673ab7!important
}
 .popit-red,.popit-hover-red:hover{
    color:#fff!important;
    background-color:#f44336!important
}
 .popit-sand,.popit-hover-sand:hover{
    color:#000!important;
    background-color:#fdf5e6!important
}
 .popit-teal,.popit-hover-teal:hover{
    color:#fff!important;
    background-color:#009688!important
}
 .popit-yellow,.popit-hover-yellow:hover{
    color:#000!important;
    background-color:#ffeb3b!important
}
 .popit-white,.popit-hover-white:hover{
    color:#000!important;
    background-color:#fff!important
}
 .popit-black,.popit-hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
 .popit-grey,.popit-hover-grey:hover,.popit-gray,.popit-hover-gray:hover{
    color:#000!important;
    background-color:#9e9e9e!important
}
 .popit-light-grey,.popit-hover-light-grey:hover,.popit-light-gray,.popit-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}
 .popit-dark-grey,.popit-hover-dark-grey:hover,.popit-dark-gray,.popit-hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}
 .popit-pale-red,.popit-hover-pale-red:hover{
    color:#000!important;
    background-color:#ffdddd!important
}
 .popit-pale-green,.popit-hover-pale-green:hover{
    color:#000!important;
    background-color:#ddffdd!important
}
 .popit-pale-yellow,.popit-hover-pale-yellow:hover{
    color:#000!important;
    background-color:#ffffcc!important
}
 .popit-pale-blue,.popit-hover-pale-blue:hover{
    color:#000!important;
    background-color:#ddffff!important
}
 .popit-text-amber,.popit-hover-text-amber:hover{
    color:#ffc107!important
}
 .popit-text-aqua,.popit-hover-text-aqua:hover{
    color:#00ffff!important
}
 .popit-text-blue,.popit-hover-text-blue:hover{
    color:#2196F3!important
}
 .popit-text-light-blue,.popit-hover-text-light-blue:hover{
    color:#87CEEB!important
}
 .popit-text-brown,.popit-hover-text-brown:hover{
    color:#795548!important
}
 .popit-text-cyan,.popit-hover-text-cyan:hover{
    color:#00bcd4!important
}
 .popit-text-blue-grey,.popit-hover-text-blue-grey:hover,.popit-text-blue-gray,.popit-hover-text-blue-gray:hover{
    color:#607d8b!important
}
 .popit-text-green,.popit-hover-text-green:hover{
    color:#4CAF50!important
}
 .popit-text-light-green,.popit-hover-text-light-green:hover{
    color:#8bc34a!important
}
 .popit-text-indigo,.popit-hover-text-indigo:hover{
    color:#3f51b5!important
}
 .popit-text-khaki,.popit-hover-text-khaki:hover{
    color:#b4aa50!important
}
 .popit-text-lime,.popit-hover-text-lime:hover{
    color:#cddc39!important
}
 .popit-text-orange,.popit-hover-text-orange:hover{
    color:#ff9800!important
}
 .popit-text-deep-orange,.popit-hover-text-deep-orange:hover{
    color:#ff5722!important
}
 .popit-text-pink,.popit-hover-text-pink:hover{
    color:#e91e63!important
}
 .popit-text-purple,.popit-hover-text-purple:hover{
    color:#9c27b0!important
}
 .popit-text-deep-purple,.popit-hover-text-deep-purple:hover{
    color:#673ab7!important
}
 .popit-text-red,.popit-hover-text-red:hover{
    color:#f44336!important
}
 .popit-text-sand,.popit-hover-text-sand:hover{
    color:#fdf5e6!important
}
 .popit-text-teal,.popit-hover-text-teal:hover{
    color:#009688!important
}
 .popit-text-yellow,.popit-hover-text-yellow:hover{
    color:#d2be0e!important
}
 .popit-text-white,.popit-hover-text-white:hover{
    color:#fff!important
}
 .popit-text-black,.popit-hover-text-black:hover{
    color:#000!important
}
 .popit-text-grey,.popit-hover-text-grey:hover,.popit-text-gray,.popit-hover-text-gray:hover{
    color:#757575!important
}
 .popit-text-light-grey,.popit-hover-text-light-grey:hover,.popit-text-light-gray,.popit-hover-text-light-gray:hover{
    color:#f1f1f1!important
}
 .popit-text-dark-grey,.popit-hover-text-dark-grey:hover,.popit-text-dark-gray,.popit-hover-text-dark-gray:hover{
    color:#3a3a3a!important
}
 .popit-border-amber,.popit-hover-border-amber:hover{
    border-color:#ffc107!important
}
 .popit-border-aqua,.popit-hover-border-aqua:hover{
    border-color:#00ffff!important
}
 .popit-border-blue,.popit-hover-border-blue:hover{
    border-color:#2196F3!important
}
 .popit-border-light-blue,.popit-hover-border-light-blue:hover{
    border-color:#87CEEB!important
}
 .popit-border-brown,.popit-hover-border-brown:hover{
    border-color:#795548!important
}
 .popit-border-cyan,.popit-hover-border-cyan:hover{
    border-color:#00bcd4!important
}
 .popit-border-blue-grey,.popit-hover-border-blue-grey:hover,.popit-border-blue-gray,.popit-hover-border-blue-gray:hover{
    border-color:#607d8b!important
}
 .popit-border-green,.popit-hover-border-green:hover{
    border-color:#4CAF50!important
}
 .popit-border-light-green,.popit-hover-border-light-green:hover{
    border-color:#8bc34a!important
}
 .popit-border-indigo,.popit-hover-border-indigo:hover{
    border-color:#3f51b5!important
}
 .popit-border-khaki,.popit-hover-border-khaki:hover{
    border-color:#f0e68c!important
}
 .popit-border-lime,.popit-hover-border-lime:hover{
    border-color:#cddc39!important
}
 .popit-border-orange,.popit-hover-border-orange:hover{
    border-color:#ff9800!important
}
 .popit-border-deep-orange,.popit-hover-border-deep-orange:hover{
    border-color:#ff5722!important
}
 .popit-border-pink,.popit-hover-border-pink:hover{
    border-color:#e91e63!important
}
 .popit-border-purple,.popit-hover-border-purple:hover{
    border-color:#9c27b0!important
}
 .popit-border-deep-purple,.popit-hover-border-deep-purple:hover{
    border-color:#673ab7!important
}
 .popit-border-red,.popit-hover-border-red:hover{
    border-color:#f44336!important
}
 .popit-border-sand,.popit-hover-border-sand:hover{
    border-color:#fdf5e6!important
}
 .popit-border-teal,.popit-hover-border-teal:hover{
    border-color:#009688!important
}
 .popit-border-yellow,.popit-hover-border-yellow:hover{
    border-color:#ffeb3b!important
}
 .popit-border-white,.popit-hover-border-white:hover{
    border-color:#fff!important
}
 .popit-border-black,.popit-hover-border-black:hover{
    border-color:#000!important
}
 .popit-border-grey,.popit-hover-border-grey:hover,.popit-border-gray,.popit-hover-border-gray:hover{
    border-color:#9e9e9e!important
}
 .popit-border-light-grey,.popit-hover-border-light-grey:hover,.popit-border-light-gray,.popit-hover-border-light-gray:hover{
    border-color:#f1f1f1!important
}
 .popit-border-dark-grey,.popit-hover-border-dark-grey:hover,.popit-border-dark-gray,.popit-hover-border-dark-gray:hover{
    border-color:#616161!important
}
 .popit-border-pale-red,.popit-hover-border-pale-red:hover{
    border-color:#ffe7e7!important
}
.popit-border-pale-green,.popit-hover-border-pale-green:hover{
    border-color:#e7ffe7!important
}
 .popit-border-pale-yellow,.popit-hover-border-pale-yellow:hover{
    border-color:#ffffcc!important
}
.popit-border-pale-blue,.popit-hover-border-pale-blue:hover{
    border-color:#e7ffff!important
}

.btn--yellow{
    background-color: #ffbf69;
    padding:20px 300x !important;
    font-weight: 600;
    font-size: 18px;
  }
